@use '../theme' as *;

.banner {
    width: 100%;
    height: 400px;
    position: relative;

    @include themed() {
        color: t('light-font');
    }

    & .parallax-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
        clip-path: inset(0 0 0 0);
        position: absolute;
        top: 0;
        left: 0;

        & .parallax-image {
            height: 100%;
            min-width: 100%;
            object-fit: cover;
            object-position: center;
            position: fixed;
            top: 0;
        }
    }

    & .overlay {
        @include themed() {
            background-color: t('dark-font');
        }
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.75;
    }

    & .content {
        height: 100%;
        width: 100%;
        padding: 40px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-align: center;
    }
}