@use 'sass:color' as *;
@use '../theme' as *;

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    clip-path: inset(0 0 0 0 round 20px);
    position: relative;
    border-radius: 20px;

    @include themed() {
        background-color: t('primary');
        color: t('on-primary');
    }

    &.skeleton {
        @include themed() {
            background-image: linear-gradient(135deg, t('surface'), adjust(t('body'), $alpha: -0.8));
        }
        background-position: 0% 0%;
        background-size: 200% 200%;
        animation: loading-gradient 3s infinite;

        &:hover { // when we hover we set the opacity to a higher value
            &::after {
                opacity: 0;
            }
        }

        & .image {
            @include themed() {
                background-color: t('background');
            }
            opacity: 0.2;
        }

        & .content {
            & .metadata {
                & .name {
                    height: 1.25rem;
                    width: 50%;
                    @include themed() {
                        background-color: t('body');
                    }
                    opacity: 0.2;
                    border-radius: 2000px;
                }
                & .category {
                    height: 1rem;
                    opacity: 0.2;
                }
            }

            & .uaid {
                height: 1rem;
                width: 50px;
                @include themed() {
                    background-color: t('body');
                }
                opacity: 0.2;
                border-radius: 2000px;
            }
        }

        &.small {
            & .content {
                & .metadata {
                    & .name {
                        height: 1rem;
                    }
                }
            }
        }
    }

    &::after { // Here we create the hover effect
        content: '';
        width: 100%;
        height: 100%;
        position: absolute; // this allows us to overlay the after pseudoelement over the button
        top: 0;
        left: 0;

        @include themed() {
            background-color: t('on-primary');
        }
        opacity: 0;
        transition: opacity 300ms ease-in-out;
    }
    &:hover { // when we hover we set the opacity to a higher value
        &::after {
            opacity: 0.2;
        }
    }

    & .image {
        width: 100%;
        height: 300px;
        overflow: hidden;
        clip-path: inset(0 0 0 0);
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            width: auto;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    & .content {
        width: 100%;
        position: relative;
        padding: 20px;
        white-space: nowrap;

        & .metadata {
            display: flex;
            flex-direction: column;
            gap: 5px;

            & .name {
                font-size: 1.25rem;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            & .category {
                font-size: 0.8rem;
                padding: 10px 20px;
                border-radius: 2000px;
                min-width: fit-content;
                max-width: fit-content;
                @include themed() {
                    background-color: t('on-primary');
                    color: t('primary');
                }
            }
        }

        & .uaid {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }

    &.normal {
        width: 300px;
        height: 450px;
    }

    &.small {
        width: 200px;
        height: 300px;
        font-size: 0.75rem;

        & .image {
            height: 200px;
        }

        & .content {
            padding: 10px;

            & .metadata {
                & .name {
                    font-size: 1rem;
                }

                & .category {
                    padding: 5px 10px;
                }

                & .price {
                    display: none;
                }
            }

            & .uaid {
                bottom: 0px;
            }
        }
    }

    &.list {
        width: 100%;
        max-width: 1200px;
        height: 200px;
        flex-direction: row;

        & .image {
            height: 100%;
            min-width: 200px;
            width: 200px;
        }

        @media (max-width: 600px) {
            & .image {
                min-width: 100px;
                width: 100px;

                & img {
                    width: 100%;
                    height: auto;
                }
            }

            & .content {
                & .metadata {
                    & .name {
                        max-width: 200px;
                    }

                    & .category {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }

    & .ripple {
        @include themed() {
            background-color: t('on-primary');
        }
    }
}

@keyframes loading-gradient {
    0% {
        background-position: 0% 10%;
    }
    50% {
        background-position: 100% 90%;
    }
    100% {
        background-position: 0% 10%;
    }
}