@use '../theme' as *;

@media screen {
    .customs {
        position: relative;
        width: 100%;
        max-width: 1500px;
        margin: auto;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        & .cards {
            width: 100vw;
            align-self: center;
            display: flex;
            overflow-x: auto;
            padding-left: calc(max(calc((100vw - 1500px) / 2), 0px) + 40px);
            padding-right: calc(max(calc((100vw - 1500px) / 2), 0px) + 40px);
            gap: 10px;

            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
    
            & * {
                flex: 0 0 auto;
            }
    
            & .gallery-link {
                overflow: hidden;
                clip-path: inset(0 0 0 0 round 20px);
                position: relative;
                border-radius: 20px;
                width: 200px;
                height: 300px;
    
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    transition: opacity 300ms ease-in-out;
    
                    opacity: 0;
                    @include themed() {
                        background-color: t('light-font');
                    }
                }
    
                &:hover {
                    &::after {
                        opacity: 0.1;
                    }
                }
    
                & img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    min-width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
    
                & .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
    
                    opacity: 0.5;
                    @include themed() {
                        background-color: t('dark-font');
                    }
                }
    
                & .content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 20px;
    
                    & span {
                        font-weight: bold;
                        @include themed() {
                            color: t('light-font');
                        }
                    }
        
                    & .go {
                        align-self: flex-end;
                        z-index: 100;
                    }
                }
    
                & .ripple {
                    @include themed() {
                        background-color: t('light-font');
                    }
                }
            }
        }

        &::after {
            content: "";
            pointer-events: none;
            position: absolute;
            width: 100vw;
            height: 100%;
            top: 0;
            left: calc(-1 * (100vw - 1500px) / 2);
            @include themed() {
                background: linear-gradient(
                    90deg,
                    t('background') 0%,
                    transparent max(calc((100vw - 1500px) / 2), 0px),
                    transparent max(calc((100vw - 1500px) / 2), 0px),
                    t('background') 100%
                );
            }
        }
    }
}

@media print {
    .customs {
        display: none;
    }
}
