@use '../theme' as *;

.display {
    &.small {
        font-size: 1.75rem;
    }
    &.medium {
        font-size: 3rem;
    }
    &.large {
        font-size: 4.5rem;
    }


    font-weight: bold;

    @media (max-width: 700px) {
        &.small {
            font-size: 1rem;
        }
        &.medium {
            font-size: 1.5rem;
        }
        &.large {
            font-size: 2rem;
        }
    }
}