@use "../theme" as *;

.featured {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &.home {
        padding: 40px;
    }

    & .divider {
        height: 1pt;
        width: 66%;
        max-width: 1000px;
        @include themed() {
            background-color: t('body');
        }
        opacity: 0.5;
    }

    & .cards {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;

        &.column {
            flex-direction: column;
        }
    }
}