@use '../theme' as *;

@media screen {
    .footer {
        width: 100%;

        @include themed() {
            background-color: t('surface');
            color: t('body');
        }
        

        & .info {
            max-width: 1500px;
            margin: auto;
            display: flex;
            gap: 40px;
            padding: 20px;

            & .locations {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 33%;
                @media (max-width: 800px) { // On mobile the location are put into a popup
                    display: none;
                }

                & .location {
                    display: flex;
                    flex-direction: column;
                }
                & .divider {
                    height: 1pt;
                    width: 66%;
                    align-self: center;
                    @include themed() {
                        background-color: t('body');
                    }
                    opacity: 0.5;
                }
            }

            & .links {
                width: 34%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                @media (max-width: 800px) { // Links are the only objects shown in the footer on mobile
                    width: 100%;
                    flex-direction: row;
                }

                & a { // Resetting the links
                    text-decoration: none;
                    @include themed() {
                        color: t('body');
                    }
                }

                & .navigation {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    @media (max-width: 800px) { // When on mobile the navigation is 50% of the footer
                        width: 50%;
                    }

                    & .active {
                        font-weight: bold;
                    }
                }

                & .socials {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    @media (max-width: 800px) { // When on mobile the socials are 50% of the footer
                        width: 50%;
                    }

                    & .icons {
                        display: flex;
                        gap: 10px;
                        & .urban-icons {
                            font-size: 32px;
                        }
                    }

                    // This contact button only appears on mobile under the socials
                    & .contact {
                        display: none;
                        @media (max-width: 800px) {
                            display: block;
                            align-self: center;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }

        & .credits {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            text-align: center;

            @include themed() {
                background-color: t('primary');
                color: t('on-primary');
            }

            & a {
                text-decoration: none;
                @include themed() {
                    color: t('on-secondary');
                }   
            }

            & .accredation {
                font-size: 0.75rem;
                padding: 10px;
            }
        }
    }

    .locations-popup {
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: auto;

        & .location {
            display: flex;
            flex-direction: column;
        }

        & .divider {
            height: 1pt;
            width: 66%;
            align-self: center;
            @include themed() {
                background-color: t('body')
            }
            opacity: 0.5;
        }
    }
}