@use '../theme' as *;

.icon-button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    max-width: fit-content;
    min-height: fit-content;
    max-height: fit-content;
    & i {
        font-size: 30px;
    }
}