@use '../theme' as *;

@media screen {
    .metadata {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        & .general {
            display: flex;
            flex-direction: column;
            gap: 5px;

            & .title {
                display: flex;
                gap: 20px;
                align-items: baseline;

                @media (max-width: 500px) {
                    flex-direction: column;
                    gap: 10px;
                }
            }

            & .id {
                opacity: 0.5;
            }

            & .price {
                display: flex;
                gap: 10px;
                align-items: center;
                & .current {
                    font-size: 1.2rem;
                }

                & .base {
                    font-size: 1rem;
                    opacity: 0.75;
                }
            }

            & .buttons {
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }

        & .options {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    .metadata-overview {   
        display: flex;
        flex-direction: column;
        gap: 40px;
        overflow: hidden;
        overflow-y: scroll;

        & .miscellaneous {
            display: flex;
            flex-direction: column;
            gap: 20px;

            & .history {
                display: flex;
                flex-direction: column;
            }

            & .specifications {
                display: flex;
                flex-direction: column;
            }

            & .bulb-info {
                display: flex;
                flex-direction: column;
            }

            & .replacements {
                & .list {
                    display: flex;
                    gap: 10px;
                    flex-wrap: wrap;

                    & .replacement {
                        flex: 0 0 auto;
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        border-radius: 20px;
                        min-width: 200px;

                        @include themed() {
                            background-color: t('secondary');
                            color: t('on-secondary');
                            border: 1pt solid t('on-secondary');
                        }
                    }
                }
            }
        }
    }
}