@use 'sass:color' as *;
@use '../theme' as *;

@media screen {
    .related {
        position: relative;
        width: 100%;
        max-width: 1500px;
        margin: auto;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        &::before {
            content: "";
            position: absolute;
            width: 100vw;
            height: 100%;
            top: 0;
            z-index: 0;
            left: calc(-1 * max(calc((100vw - 1500px) / 2), 0px));
            transition: background-color 300ms ease-in-out;
            @include themed() {
                background-color: adjust(t('surface'), $alpha: -0.5);
            }
        }
    
        &.alone::before {
            background-color: transparent;
        }
    
        & .cards {
            width: 100vw;
            align-self: center;
            display: flex;
            overflow-x: auto;
            padding-left: calc(max(calc((100vw - 1500px) / 2), 0px) + 40px);
            padding-right: calc(max(calc((100vw - 1500px) / 2), 0px) + 40px);
            gap: 10px;

            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
    
            & * {
                flex: 0 0 auto;
            }
        }

        &::after {
            content: "";
            pointer-events: none;
            position: absolute;
            width: 100vw;
            height: 100%;
            top: 0;
            left: calc(-1 * (100vw - 1500px) / 2);
            transition: background-image 300ms ease-in-out;
            @include themed() {
                background: linear-gradient(
                    90deg,
                    t('surface') 0%,
                    transparent max(calc((100vw - 1500px) / 2), 0px),
                    transparent calc(1500px + max(calc((100vw - 1500px) / 2), 0px)),
                    t('surface') 100%
                );
            }
        }
    }
}