@use '../theme' as *;

.related {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .cards {
        display: flex;
        overflow-x: auto;
        gap: 10px;

        & * {
            flex: 0 0 auto;
        }
    }
}