@use 'sass:color' as *;
@use "../theme" as *;

.search {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: 58px;
    border-radius: 2000px;
    padding-left: 30px;
    gap: 5px;

    @include themed() {
        background-color: t('surface');
        border: 1pt solid adjust(t('body'), $alpha: -0.8);
    }

    & .textbox {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        background-color: transparent;

        @include themed() {
            color: t('body');
        }

        &::placeholder {
            @include themed() {
                color: t('body');
                opacity: 0.25;
            }
        }
    }

    & .divider {
        width: 1pt;
        height: 60%;
        opacity: 0.5;

        @include themed() {
            background-color: t('body');
        }
    }
}