@use '../theme.scss' as *;

.catalog {
    width: 100%;
    display: flex;
    gap: 40px;
    padding: 40px;

    & .listings {
        width: 100%;
        flex: 0 1 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}